<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- FUENTES  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&family=Work+Sans&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>about</title>
</head>
<body class="about-body">
    <header class="about-header">
        <nav>
            <ul class="columna-nav" type="none">
                <li><a class="text-nav" href="/">| HOME |</a></li>
                <li><a class="text-nav" href="/about"> ABOUT |</a></li>
                <li><a class="text-nav" href="/music"> MUSIC |</a></li>
                <li><a class="text-nav" href="/contact"> CONTACT |</a></li>
            </ul>
        </nav>

        <nav>
            <ul class="about-vincul-nav" type="none">
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-spotify"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-apple"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-amazon"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>

    </header>

    <main class="about-main">

        <!-- <img src="/images/2.jpg" alt=""> -->
        <h1 class="titulo-main">ABOUT EMILIA //</h1>

        <h4 class="about-subtitulo">"Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album"</h4>

        <h6 class="autor">- Jhon Tirckle, Music Today Post</h6>
    </main>

    <footer>
        <h4 class="about-subtitulo">"Emilia Cole is one of the <br>scene's breakout stars"</h4>

        <h6 class="autor">- Jhon Tircle, Music Today Post</h6>
    </footer>

    </article>



</body>
</html>