<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- FUENTES  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&family=Work+Sans&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>about</title>
</head>
<body class="music-body">
    <header class="header-fondo">
        <nav class="music-nav">
            <ul class="columna-nav" type="none">
                <li><a class="text-nav" href="/">| HOME |</a></li>
                <li><a class="text-nav" href="/about"> ABOUT |</a></li>
                <li><a class="text-nav" href="/music"> MUSIC |</a></li>
                <li><a class="text-nav" href="/contact"> CONTACT |</a></li>
            </ul>
        </nav>

        <nav>
            <ul class="about-vincul-nav" type="none">
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-spotify"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-apple"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-amazon"></i></a></li>
                <li><a class="redes-vinculad" href=""><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>

    </header>

    <main class="main-music">

        <h1 class="titulo">MUSIC //</h1>

        <ul class="letras-general" type="none">
            <p>Direct links</p>
            <li><a href="">Album</a></li>
            <li><a href="">Video: Organic Love</a></li>
            <li><a href="">Video: Street Light</a></li>
        </ul>

        <section>
            <h3 class="titulo1">ALBUM <br>TWIST IN MY REALITY</h3>
            <img src="/images/3.jpg" alt="Album-twist" width="700" height="400">

            <nav>
                <ol>
                    <li><a class="atajos" href=""><i class="fa-solid fa-play"></i> Organic Love | 02:40</a></li>
                    <li><a class="atajos" href=""><i class="fa-solid fa-play"></i> Twist in My Reality | 02:10</a></li>
                    <li><a class="atajos" href=""><i class="fa-solid fa-play"></i> Street Light | 03:28</a></li>
                    <li><a class="atajos" href=""><i class="fa-solid fa-play"></i> Love Don't Live Here Anymore (Cover) | 03:49</a></li>
                </ol>
            </nav>
            <a class="letras-general-music-top" href="">Go Top</a>
        </section>

        <section>
            <h3 class="titulo1">VIDEO <br>ORGANIC LOVE</h3>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="700" height="400" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            
            <div>
                <p class="letras-general-music">Directed by VINCE MALC & EMILIA COLE</p>
                <p class="letras-general-music">Edited and Filmed by NICOLAS TROY</p>
                <p class="letras-general-music">Produced by NIKI HEART</p>
                <p class="letras-general-music">Wix Films LTD.</p>
            </div>

            <a class="letras-general-music-top" href="">Go Top</a>
        </section>

        <section>
            <h3 class="titulo1">VIDEO <br>STREET LIGHT</h3>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="700" height="400" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

            <div>
                <p class="letras-general-music">Directed by VINCE MALC & EMILIA COLE</p>
                <p class="letras-general-music">Edited and Filmed by NICOLAS TROY</p>
                <p class="letras-general-music">Produced by NIKI HEART</p>
                <p class="letras-general-music">Wix Films LTD.</p>
            </div>

            <a class="letras-general-music-top" href="">Go Top</a>
        </section>
    </main>

    <footer>

    </footer>

    </article>



</body>
</html>