
    /* TITULO  */

.about-main .titulo-main{
    font-family: "Work Sans";
    font-size: 50px;
    margin-top: 150px;
    width: 240px;
    line-height: 65px;
}

.about-subtitulo{
    color: rgb(27, 90, 71);
    font-size: 25px;
    margin-left: 40px;
    font-family: "Raleway";
    font-weight: 50;
    margin-top: 50px;
}

.autor{
    font-family: "Open Sans";
    margin-left: 40px;
    font-size: 12px;
    color: rgb(27, 90, 71);
}

.about-body{
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 80% 100%;
    background-attachment: fixed;
}
